@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  /* scrollbar-width: thin;
    scrollbar-color: #2c2f24 #f9f9f7; */
}
:root {
  --animation1--: scaleup 0.35s ease forwards;
}

.active {
  color: #3d3f38b0;
}
.not-active {
  color: #2c2f24;
}
/* Firefox */
/* *{
    scrollbar-width: thin;
    scrollbar-color: theme("colors.gray.600") transparent;
  }  */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* For horizontal scrollbars */
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  border: none;
}

*::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.05);
}

*::-webkit-scrollbar-thumb {
  background: theme("colors.gray.600");
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: theme("colors.gray.500");
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

/* Buttons in the scrollbar (arrows pointing upwards and downwards) */
*::-webkit-scrollbar-button {
  display: none;
}

@keyframes scaleup {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
